<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/css/global.css" rel="stylesheet" />
    <link href="~/css/menu.css" rel="stylesheet" />
    <link href="~/css/posAdocao/form.css" rel="stylesheet" />
    <link href="~/css/posAdocao/sidebar.css" rel="stylesheet" />
    <link href="~/css/preAdocao/form.css" rel="stylesheet" />
    <link href="~/css/preAdocao/sidebar.css" rel="stylesheet" />
    <title>@ViewData["Title"] - CaoLendario</title>
</head>
<body>
    <div class="top-bar">
        <button class="btn-menu">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
        <button class="btn-menu">
            <i class="fa fa-question-circle" aria-hidden="true"></i>
        </button>
    </div>
    <div class="page">
        <nav>
            <img id="img-logo" src="assets/Logo.png" alt="Logo Cão Lendário" />
            <ul>
                <li>
                    <img src="assets/Dashboard.svg" />
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <i class="fa fa-paw"></i>
                    <a href="#">Animais</a>
                </li>
                <li>
                    <img src="assets/Pre.svg" />
                    <a href="#">Pré adoção</a>
                </li>
                <li>
                    <img src="assets/Adoção.svg" />
                    <a href="#">Adoção</a>
                </li>
                <li class="active">
                    <img src="assets/Clock.svg" />
                    <a href="#">Pos adoção</a>
                </li>
            </ul>
            <div id="logoff">
                <i class="fa fa-power-off"></i>
                <a href="#">Sair</a>
            </div>
        </nav>
        @RenderBody()
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
