<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<!--vincula o layout à biblioteca Bootstrap-->
	<link rel="stylesheet" asp-href-include="/lib/bootstrap/dist/*/.min.css" />
	<title>Cão Lendário</title>
</head>
<body>
	<div class="navbar navbar-inverse bg-inverse" role="navigation">
		<a class="navbar-brand" href="#"> Cão Lendário </a>
	</div>
	<div class="row m-1 p-1">
		<div id="categories" class="col-3">
			Insira algum conteúdo útil aqui
		</div>
		<div class="col-9">
			@RenderBody()
		</div>
	</div>
</body>
</html>
