.vs/
.obj/
.vs/CaoLendario/v16/Server/sqlite3/storage.ide
*.ide
.vs/CaoLendario/v16/Server/sqlite3/storage.ide
obj/Debug/netcoreapp3.1/CaoLendario.assets.cache
obj/Debug/netcoreapp3.1/CaoLendario.csprojAssemblyReference.cache
