.top-bar {
  height: 50px;
  padding: 0px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
}

.fa {
  color: whitesmoke;
  font-size: 30px;
}

.btn-menu {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.page {
  display: flex;
}

nav {
  background-color: var(--primary-color);
  color: whitesmoke;
  width: 300px;
  height: calc(100vh - 50px);
  padding-right: 25px;
}

section {
  background-color: transparent;
  min-width: calc(100vw - 300px);
  max-width: calc(100vw - 300px);
  height: calc(100vh - 50px);
}

#img-logo {
  object-fit: scale-down;
  width: 100%;
  height: min-content;
}

nav ul {
  padding: 25px 0;
}

nav li {
  display: flex;
  align-items: center;
  padding: 5px 0 5px 25px;
  min-height: 45px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  transition: background-color ease-in-out 0.2s;
}

nav li:hover,
.active {
  background-color: rgba(91, 226, 230, 0.25);

  transition: background-color ease-in-out 0.2s;
}

nav a {
  text-decoration: none;
  color: whitesmoke;
  margin-left: 25px;
  width: 100%;
}

#logoff {
  bottom: 25px;
  position: absolute;
  width: calc(300px - 25px);
}
